@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-out: 'Outfit';

  --color-customBlue-400: #233267;
  --color-customWhite-100: #F1F1F1;
  --color-customGray-300: #3D3D3D;

  --width-custom-300: 18.75rem;
  --height-custom-16: 1rem;
  
  --rounded-custom-12: 0.75rem;
}

.rounded-custom-12{
  border-radius: var(--rounded-custom-12);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
